 h1{
     color:hsl(130, 84%, 38%);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: x-large;
     text-align: center;
 }
 h2{ 
    color:hsl(130, 84%, 38%);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: x-large;
     text-align: center;
 }
    
 
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 150px;
    border:1px solid black;
    border-radius: 4px;
    margin-bottom: 0px;
 }
 
.container{
    max-width: 300px;
    margin: 20px auto;
    padding:35px;
    border-radius: 15px;
    text-align: left;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow:0 8px 16px rgba(0,0,0,.3 ) ;

}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 16px;
        border: 1px solid rgb(17, 3, 3);
        border-radius: 16px;
        
}
#username{
    color:#020e07;
}
.b{
  padding: 6px 12px;
  margin: 8% auto;
  border: none;
  display: block;
  border-radius: 10px;
  background: green;
  color: white;
  cursor: pointer;

}
.b:hover{
    background-color: black;
}

.contact-section{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(23, 75, 23, 0.815) ;
    color:white;
    padding: 12px 24px;
    border-radius: 0;
    box-shadow: 0 -2px 8px black;
    text-align:center;
    z-index: 10;


}
.contact-section .footer-container{
    max-width: 100%;
    margin: 0;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

body, html{
    margin: o;
    height: 100%;
}

body, html{
    margin: 0;
    height: 100%;
}

.slidecontainer{
    position:fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.slidecontainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    animation: fade 20s infinite;
}

.slidecontainer img:nth-child(1) { animation-delay: 0s; }
.slidecontainer img:nth-child(2) { animation-delay: 4s; }
.slidecontainer img:nth-child(3) { animation-delay: 8s; }
.slidecontainer img:nth-child(4) { animation-delay: 12s; }
.slidecontainer img:nth-child(5) { animation-delay: 16s; }

@keyframes fade{
    0% {opacity: 0;}
    10% {opacity: 1;}
    25% {opacity: 1;}
    35% {opacity: 0;}
    100% {opacity: 0;}
}
