 h1{
     color:hsl(130, 84%, 38%);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: x-large;
     text-align: center;
 }
 body{
    background-image: url("Train.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    text-align: center;

    form{
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 15px;
        border:1px solid black;
        border-radius: 4px;
        margin-bottom: 9px;
    }
 }
.container{
    max-width: 300px;
    margin: 40px auto;
    padding:40px;
    border-radius: 15px;
    text-align: left;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow:0 8px 16px rgba(0,0,0,.3 ) ;

}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 16px;
        border: 1px solid rgb(17, 3, 3);
        border-radius: 16px;
        
}
#username{
    color:#020e07;
}
.b{
  padding: 6px 12px;
  margin: 8% auto;
  border: none;
  display: block;
  border-radius: 10px;
  background: green;
  color: white;
  cursor: pointer;

}
.b:hover{
    background-color: black;
}

.contact-section{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(23, 75, 23, 0.815) ;
    color:white;
    padding: 12px 24px;
    border-radius: 0;
    box-shadow: 0 -2px 8px black;
    text-align:center;
    z-index: 10;


}
.contact-section .footer-container{
    max-width: 100%;
    margin: 0;
}

.contact-section div{
    
}

.bg-img{
    position:fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;


}
